/* link for google font */
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global style */
* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #1e1e2f;
    color: #fff;
} */

.typed-cursor {
    opacity: 0 !important;
}

:root {
    --main-color: #1e1e2f;
    --accent-color: #0077ff;
    --light-bg: #f5f7fa;
    --card-bg: rgba(255, 255, 255, 0.8);
    --price-color: #ff4d4f;
    --button-color: #109ba8;
    --text-color: #222;
}

h1 {
    font-size: 30px;

}

h2 {
    font-size: 28px;
 
}

p {
    font-size: 16px;
  
}

.sectionp {
    padding: 20px;
}

.sectionm {
    margin: 80px;
}


.normal {
    padding: 11px 25px;
    background-color: var(--button-color);
    color: var(--light-bg);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
}

/* navbar start */
#navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: rgb(252, 252, 252);
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

#navbar h1 {
    color: var(--button-color);
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li {
    padding: 0 20px;
}

#navbar input {
    background-color: #fff;
    outline: none;
    border: none;
    padding: 10px 10px;
    margin-right: 20px;
    border-radius: 10px;
    /* border-bottom-right-radius: 0;
    border-top-right-radius: 0; */
    border: 1px solid #d9e1ed;

}

#navbar #searchButton {
    margin-left: -35px;
    margin-right: 20px;

}

#navbar #card {
    padding: 5px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--button-color);

}

#navbar #card a {
    font-size: 25px;
    color: var(--button-color);
}

#navbar div {
    display: flex;
    align-items: center;
}

#typed {
    height: 95px;
}

#navbar .bar {
    display: none;
}
#dark{
    margin-left: 15px;
    outline: none;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    border: none;
cursor: pointer;
}


/* navbar end */

/* home page  starts*/

/* hero section stars */
#hero-section {
    background-image: url("../img/heroSection/hero-section-one.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#hero-section div {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#hero-section h1 {
    color: var(--light-bg);
    font-size: 38px;
    padding: 20px 0;
}

#hero-section p {
    color: rgb(204, 204, 204);
    /* font-size: 38px; */
    font-size: 24px;
    padding: 10px 0;
    font-weight: 500;
    padding-bottom: 40px;
}

#hero-section button a {
    color: #fff;
}

#hero-section .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    padding: 15px;
    height: 235px;
    width: 33%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #fff;
}

#hero-section .card span {
    font-size: 60px;
    color: #fff;

}

#hero-section .card p {
    font-size: 18px;
    line-height: 25px;
}

#hero-section .card .normal a {
    font-size: 16px;
}

#hero-section .card .normal {
    /* background-color: var(--text-color); */
    /* border: 1px solid; */
    border-radius: 50%;
    padding: 10px;
}

/* hero section ends */


/* features section starts */






#features {
    width: 100%;
    height: auto;

}

#features.sectionp {
    padding: 80px 0;
}

#features img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
}

/* features section ends */

/* genral products starts */

#genral-products {
    width: 100%;

}

#discrabtion-one {
    height: 20px;
}

#genral-products .head {
    text-align: center;
    margin-bottom: 50px;
}

#genral-products .head h1 {
    font-size: 38;
    margin-bottom: 20px;
    /* color: var(--main-color); */
}

#genral-products .head p {
    font-size: 20px;
    margin-bottom: 20px;
    color: gray;
}

#genral-products .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

#genral-products .cards .card {
    width: 21%;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #aeafb0;
    box-shadow: 2px 2px 20px gray;
    transition: 0.5s ease;
    margin: 20px;
}

#genral-products .cards .card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#genral-products .cards .card img {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    object-fit: cover;
}

#genral-products .cards .span-card {
    padding: 8px 0;
    display: inline-block;
}

#genral-products .cards h1 {
    font-size: 20px;
    padding-bottom: 8px;
}

#genral-products .cards .stars i {
    color: #FFD700;
    padding-bottom: 8px;
}

#genral-products .cards .pric-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#genral-products .cards .pric-cart p {
    font-size: 20px;
    font-weight: 800;
}

#genral-products .cards .pric-cart span {
    font-size: 20px;
    font-weight: 800;
}

#genral-products .cards .pric-cart .normal {
    border-radius: 50%;
    padding: 8px;
}

#genral-products .cards .pric-cart .normal a {
    color: #fff;
    font-size: 16px;
}

/* genral products ends */

/* start offer section */
#offer-section {
    background-image: url("../img/heroSection/offer\ section\ img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 40%;
    width: 100%;
    height: 40vh;
    text-align: center;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

#offer-section p {
    color: #fff;
    padding: 15px 0;
}

#offer-section h1 {
    color: #fff;
    padding-bottom: 15px;
}

/* end offer section */

/* sign-section starts */
#sign-section {
    background-image: url('../img/heroSection/sin\ section.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sign-section .div-one {
    width: 50%;
}

#sign-section .div-tow {
    width: 50%;
}

#sign-section h1 {
    color: #fff;
    margin: 15px 0;
}

#sign-section span {
    color: #cfd1d3;
}

#sign-section h2 {
    height: 30px;
    color: #eea83f;
    font-size: 20px;
    margin-bottom: 5px;
}

#sign-section .div-tow {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;

}

#sign-section input {
    width: 60%;
    padding: 15px 5px;
    border-radius: 10px;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    outline: none;
    border: none;
    font-size: 16px;
}

#sign-section button.normal {
    padding: 17px 25px;
    margin-left: -10px;
}

/* sign-section ends */
/* footer starts */

footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
    flex-wrap: wrap;
}

footer h1 {
    color: var(--button-color);
    margin-bottom: 30px;
}

footer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #aeafb0;
}
 footer p{
    margin-bottom: 10px;
  color: #adaaaa;
 }
 footer li {
    padding-bottom: 20px;
    color: #adaaaa;
 }
 footer li a {
       color: #adaaaa;
 }
 footer .icons a {
     color:var(--button-color);
   margin-right: 15px;
   font-size: 25px;
 }
 .rights{
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
     color: #adaaaa;
     
 }
 #up{
    padding: 8px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    background-color: #eae5e5;
    color: rgb(156, 153, 153);
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
 }
/* footer ends */
/* home page  ends*/




/* media quere */
@media(max-width:1150px) {
    #navbar {

        padding: 10px 10px;

    }

    #navbar .bar {
        font-weight: 900;
        font-size: 30px;
        outline: none;
        border: none;
        color: var(--button-color);
        padding: 5px;
        display: block;
    }

    .setnav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 58px;
        gap: 20px;
        right: 0px;
        background-color: rgb(252, 252, 252);
        width: 100%;
        margin: auto;
        padding: 10px 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-right: -100%;
        transition: 0.5s ease;
    }

    .setnav .normal {
        margin-top: 0px;
    }

    #hero-section {
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: center;
        align-items: flex-start;
    }

    #hero-section div {
        width: 60%;
    }

    #hero-section .card {
        width: 42%;
    }

    #hero-section h1 {
        color: var(--light-bg);
        font-size: 47px;
        padding: 20px 0;
    }

    .sectionp {
        padding: 13px;
    }

    #genral-products .cards {

        justify-content: space-around;

    }

    #offer-section {
        align-items: center;
        justify-content: end;
    }

    #sign-section h2 {
        margin-bottom: 30px;
    }

}


@media(max-width:799px) {


    #hero-section .card {
        display: none;
    }

    .sectionp {
        padding: 40px;
    }

    #hero-section div {
        width: 61%;

    }

    /* genral productes starts */
    #genral-products .cards .card {
        width: 43%;

    }

    /* genral productes ends */
}







@media(max-width:662px) {
    #genral-products .cards .card {
        width: 70%;
    }
}






@media(max-width:477px) {
    #hero-section {
        height: 70vh;

    }

    #hero-section div {
        width: 69%;
    }

    #hero-section h1 {

        font-size: 28px;
    }

    #hero-section p {
        height: 50px;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 14px;
        color: var(--text-color);
        font-weight: 500;

    }

    .normal {
        margin-top: 30px;
    }

    #hero-section {

        background-position: 34% 50%;

    }

    #features.sectionp {
        padding: 40px 0;
    }

    #features img {
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0px 20px;
    }

    /* genral productes starts */
    #genral-products .cards .card {
        width: 100%;
        height: 70vh;
    }

    .sectionp {
        padding: 5px;
    }

    /* genral productes ends */

    /* offer section starts */
    #offer-section .normal {
        margin-top: -3px;
        margin-bottom: 10px;
    }

    /* offer section ends */

    /* sign section starts */

    #sign-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 34vh;
    }

    #sign-section .div-one {
        width: 100%;
        text-align: center;
    }

    #sign-section .div-one h1 {
        font-size: 24px;

    }

    #sign-section .div-tow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    #sign-section .div-tow .normal {
        margin-top: 0px;
    }

    /* sign section ends */
}
